<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meal Planner</title>
</head>
<body>
    <h1>Welcome to the Meal Planner!</h1>
    <table style="border: black">
        <tr>
            <th colspan="7">Your Planned Meals for the week of...</th>
        </tr>
        <tr th:each="day: ${mealPlans}" th:with="meals=${day.getValue()}">
            <th>
                <p th:text="${day.getKey()}">Date</p>
            </th>
            <td th:each="meal: ${meals}">
                <p th:text="${meal}">Meal</p>
            </td>
        </tr>
    </table>

</body>
</html>