<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe List</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #dddddd;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            padding: 8px;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<ul>
    <li><a href="../welcome">Home</a></li>
    <li><a th:href="'/plan?chef='+ ${chefId}">Planner</a></li>
    <li><a th:href="'/fav?chef='+${chefId}">Favorites</a></li>
    <li><a href="/recipe">Recipes</a></li>
    <li><a href="/recipe/create">Create Recipe</a></li>
</ul>
    <h1 th:text="'Behold, ' + ${title}" class="text-center">Title</h1>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Category</th>
                    <th scope="col">Recipe</th>
                    <th scope="col">Ingredients</th>
                    <th scope="col">Instructions</th>
                    <th scope="col">Created By</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="recipe: ${recipes}">
                    <td th:text="${recipe.getRecipeCategory()}">Category</td>
                    <td th:text="${recipe.getRecipeName()}">Recipe Name</td>
                    <td>
                        <div th:each="ingredient : ${recipe.getRecipeIngredients()}">
                            <p th:text="${ingredient}">Ingredient</p>
                        </div>
                    </td>
                    <td th:text="${recipe.getRecipeInstructions()}">Instructions</td>
                    <td th:text="${recipe.getCreatorName()}">Creator</td>
                    <td>
                        <form th:action="${req + '/delete'}" method="POST">
                            <button name="id" class="btn btn-danger" th:value="${recipe.getRecipeId() + ';' + chefId}">Delete</button>
                        </form>
                        <form action="fav" method="GET">
                            <button name="id" class="btn btn-warning">Favorite</button>
                        </form>
                        <form th:action="${req + '/viewIngredients'}" method="GET">
                            <button name="id" class="btn btn-info" th:value='${recipe.getRecipeId()}'>View Ingredients</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--<table>
        <tr>
            <th></th>
            <th>Category</th>
            <th>Recipe</th>
            <th>Ingredients</th>
            <th>Instructions</th>
            <th>Created By</th>
        </tr>
        <tr th:each="recipe: ${recipes}">
            <td>
                <form action="recipe/delete" method="POST">
                    <button name="id" th:value="${recipe.getRecipeId()}">Delete</button>
                </form>
            </td>
            <td th:text="${recipe.getRecipeCategory()}">Category</td>
            <td th:text="${recipe.getRecipeName()}">Recipe Name</td>
            <td th:text="${recipe.getRecipeIngredients()}">Ingredients</td>
            <td th:text="${recipe.getRecipeIngredients()}">Instructions</td>
            <td th:text="${recipe.getCreatorName()}">Creator</td>
        </tr>
    </table>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous" />
</body>
</html>